[submodule "pr-tracker-service-router"]
	path = pr-tracker-service-router
	url = https://github.com/Dhruv1249/pr-tracker-service-router.git
[submodule "pr-tracker-main-backend"]
	path = pr-tracker-main-backend
	url = https://github.com/Dhruv1249/pr-tracker-main-backend.git
[submodule "pr-tracker-ai-agent"]
	path = pr-tracker-ai-agent
	url = https://github.com/Dhruv1249/pr-tracker-ai-agent.git
[submodule "pr-tracker-backend"]
	path = pr-tracker-backend
	url = https://github.com/putkarsh81/pr-tracker-backend.git
[submodule "pr-tracker-mongodb"]
	path = pr-tracker-mongodb
	url = https://github.com/satyam-prakash/pr-tracker-mongodb.git
[submodule "pr-tracker-client"]
	path = pr-tracker-client
	url = https://github.com/Adii-tii/pr-tracker-client.git
